body {
  margin: 5px;
  padding: 0;
}

body>header {
  background-color: rgb(20, 20, 20);
  color: aliceblue;
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  ;
}

body>header>div {
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

header div img {
  width: 100%;
  height: 300px;


}

body>header>div>h1,
h2 {
  text-align: center;
}

nav>ul {
  list-style: none;
}

nav>ul>li>a {

  text-decoration: none;
  border-style: dotted;
  border-width: 1px;
  border-color: 660033;
  background-color: cc3366;
  font-family: verdana, arial;
  font-size: 15pt;
}

#noticias {
  display: flex;
  flex-wrap: wrap;
}

.button-noticia {
 
    margin: 5px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;

}

.button-noticia:hover {
  transform: scale(1.2) rotate(10deg);
  background-color: #fa725a;
  color: white;
}

.parrafo {
  margin: 5px;
    padding: 10px;
    border: 1px solid #007bff;
    flex: 1;
}

#comentarios-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  background-color: rgb(146, 176, 176);
  border-radius: 30px;


}

.comentarios {

  flex-basis: calc(33.33% - 10px);

  padding: 10px;
  margin: 5px;

  color: #fff;
  box-sizing: border-box;


}

article p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-left: 10%;
  margin-bottom: 10px;

}

section img {
  border-radius: 50%;
  padding: 10px;
}

#form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-image: linear-gradient(45deg, #0d4367,
      #092c3a);
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 2.5em;
  padding: 30px;
  width: 400px;

}

form label {
  color: aliceblue;
}

.form::before {
  content: '';
  background-image: linear-gradient(45deg, #ff0000,
      #00fff7);
  height: 358px;
  width: 309px;
  position: absolute;
  margin-top: -34px;
  margin-left: px;
  z-index: -1;
  border-radius: 2.7em;
}

#submit {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo cuando se pasa el cursor sobre el bot칩n */
#submit:hover {
  background-color: #0056b3;
}

/* Estilo cuando se presiona el bot칩n */
#submit:active {
  background-color: #004d99;
}

/* Estilo cuando el bot칩n est치 desactivado o inhabilitado */
#submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;

}



footer {
  background-color: rgb(20, 20, 20);
  color: aliceblue;
  height: 30px;
  text-align: center;
  padding: 10px;
}

#nombre {

  height: 2em;
  width: 300px;
  border-radius: 50px;
}

#comentario {
  height: 4em;
  width: 300px;
  border-radius: 10px;
}
.nuevo-comentario{
  flex-basis: calc(20% - 10px);

  padding: 10px;
  margin: 5px;

  color: #fff;
  box-sizing: border-box;
}
.img-noticia {
  max-width: 10%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}